doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block login
    //- script(src="/javascripts/auth.js") 
    //-script(src="/javascripts/auth.js") 